<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="navbar-nav">
      <a class="navbar-brand" href="/"><h1>Content Cradle</h1></a>
      <a class="nav-link" href="/dashboard"><p>Dashboard</p></a>
      {{#if loggedIn}}
      <a class="nav-link" id="logout"><p>Logout ({{userEmail}})</p></a>
      {{else}}
      <a class="nav-link" href="/login"><p>Login</p></a>
      {{/if}}
    </div>
</nav>
<div class="container-fluid">
    <ul class="list-group">
        {{#each blogPosts}}
        <li class="list-group-item list-group-item-dark border-3 border border-primary" >
            <h2 class='blogpost-title on-hover-blue' data-blog-post-id="{{this.id}}">{{this.title}}</h2>
            <p>Written by {{this.user.email}} at {{this.createdAtFormatted}}</p>
            <p>{{this.content}}</p>
        </li>
        {{/each}}
    </ul>
</div>

<script src="/js/home.js"></script>
<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>